
@import "base/reset";
@import "base/typography";
@import "base/breakpoints";


.top-black {
    background-color: black;
    height: 4px;
    width: 100%;
    margin: 0;
}
.inner {
    margin: 10px auto;
    width: 85%;
    max-width: 1000px;

}

.intro {

    float: left;
    width: 20%;
    color: lighten(gray, 20%);
    .headshot img{
        height: 5.7em;
        margin-left: -0.7em;
    }

    @include breakpoint(mobileonly){
        width: 100%;
        float: none;
       
        .work-links {
            display: inline-flex;
             .w-links{
                display: none;
            }
            h5 {
                margin-right: 1.2em;
                font-size: 1.2em;
            }
        }
      
    }

}

.content {
    float: right;
    margin: 1em auto;
    width: 70%;
    color: lighten(gray, 20%);

    .works-thumbnail {
        margin-bottom: 2em;
        #first {
        background: #2b2b2b;
        }
        #second {
        background: #288ad6;
        }
        #third {
        background: #352b44;
        }
        #fourth {
        background: lighten(#7e5b42,10%);
        }
        #fifth {
        background: lighten(#352b44,19%);
        }
        h4 {
            margin-top: 0.4em;
        }
        
    }
    .work {
        padding: 1em 0em 1em 0em;
        text-align: center;
        img {
            margin: -2px auto;
            height: 9em;
        }
        margin-bottom: 0.5em;

    }
    h2 {
        color: gray;
    }
    h4 {
        font-size: .9em;
    }

    p {
        font-size: .8em;
        color: lighten(gray, 10%);
        letter-spacing: 0.02em;
    }

    .my-role {
        margin: 2em 0em 0.4em 0em;
        display: inline-flex;
        font-size: .7em;
        font-weight: bold;
        letter-spacing: 0.02em;
        .ux-design, .front-end, .ui-design, .branding{
            height: 12px;
            width: 12px;
            border-radius: 6px;
            background-color: rgba(34, 167, 240,1);
        }
        .front-end {
            background-color: rgba(78,205,196,1);
        }
        .ui-design {
            background-color: rgba(246, 71, 71,1);
        }
        .branding {
            background-color: rgba(248, 148, 6,1);
        }
    }
 @include breakpoint(mobileonly){
        width: 100%;
        float: none;
    }

}


.article {
    img {
        width: 100%;
    }
    h5 {
      
        line-height: 1.6em;
    }
}


