<div class="top-black"> </div>
<div class="inner">
  <div class="intro"> <br /> 
      <div class="headshot"><img src="img/maya.png"></div>
      <h1><a href="index.html">Maya Gao</a></h1>
      <p>Designer at <a href="http://www.mapbox.com/">Mapbox</a>. Formerly with <a href="http://www.lonelyplanet.com/">Lonely Planet</a>, <a href="http://upstatement.com/blog/2014/03/intern-recap-maya-gao/">Upstatement</a>. I believe in working hard and staying humble. </p>


      <section class="work-links"><br>
<h5><a href="index.html">Works</a></h5>
      <p class="w-links"><a href="content-management.html">Upstatement</a><br>
        <a href="lonely-planet-destination.html">Lonely Planet</a><br>
      
      <a href="visualize-friendship.html">whoisintome</a><br>
      <a href="food-delivery-app.html">Cusetogo</a><br>
      <a href="misc.html">Misc</a><br></p>
  
  </section>    
  
  </div>
