* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Karla Regular";
  src: url("fonts/Karla-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/Karla-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/Karla-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Karla-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Karla-Regular.svg#Karla-Regular")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Rubik Medium";
  src: url("fonts/Rubik-Medium.eot"); /* IE9 Compat Modes */
  src: url("fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/Rubik-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Rubik-Medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Rubik-Medium.svg#Rubik-Medium")
      format("svg"); /* Legacy iOS */
}

body {
  font-family: "Karla Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #2e2a4f;
}

pre,
.code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  word-break: break-word;
  white-space: normal;
}

.mw-limiter {
  max-width: 82rem;
}
.f4 {
  font-size: 1.35rem;
}
.f5 {
  font-size: 1.1rem;
}
.f2 {
  font-size: 2rem;
}
.f6 {
  font-size: 0.96rem;
}
.f7 {
  font-size: 0.9rem;
}
.code.f7 {
  font-size: 0.8rem;
}

.lh-copy {
  line-height: 1.6em;
}
.txt-xl {
  font-size: 1.92rem;
}

.heading {
  font-family: "Rubik Medium", serif;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.studio-ui-dive {
  counter-reset: section;
}
.shadow {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.studio-ui-dive article::before {
  counter-increment: section;
  content: counter(section);
  background: #000;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.875rem;
}
.mb-list {
  list-style: none;
  counter-reset: section;
}
.mb-list li {
  margin-bottom: 8px;
}

.bg-mb {
  background-color: #282828;
}

.bg-mb-light {
  background: #404040;
}

.mb-list li::before {
  counter-increment: section;
  content: counter(section);
  background: #000;
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8em;
  line-height: 1.6em;
  margin-left: -32px;
  margin-right: 10px;
}
