
html, body {
    font-family: "effra";
}

a {
    color: gray;
    text-decoration: none;
        &:hover {
            color: black;
        }
}

h1 {
    font-size: 1.2em;
    line-height: 2.5em;
    font-weight: bold;
}
h2 {
    font-size: 1.4em;
    font-weight: bold;
}
h5 {
    font-weight: bold;
    line-height: 1.3em;
    margin-top: 1em;
    font-size: 0.9em;
}


h3 {
        font-size: 1.1em;
        line-height: 1.3em;
        font-weight: bold;

    }

h4 {
        font-size: 0.8em;
        line-height: 1.3em;
        letter-spacing: 0.02em;

    }
p {
      font-size: 0.9em;
    line-height: 1.4em;
}