/* line 2, ../../sass/base/typography.scss */
html, body {
  font-family: "effra";
}

/* line 6, ../../sass/base/typography.scss */
a {
  color: gray;
  text-decoration: none;
}
/* line 9, ../../sass/base/typography.scss */
a:hover {
  color: black;
}

/* line 14, ../../sass/base/typography.scss */
h1 {
  font-size: 1.2em;
  line-height: 2.5em;
  font-weight: bold;
}

/* line 19, ../../sass/base/typography.scss */
h2 {
  font-size: 1.4em;
  font-weight: bold;
}

/* line 23, ../../sass/base/typography.scss */
h5 {
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 1em;
  font-size: 0.9em;
}

/* line 31, ../../sass/base/typography.scss */
h3 {
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
}

/* line 38, ../../sass/base/typography.scss */
h4 {
  font-size: 0.8em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}

/* line 44, ../../sass/base/typography.scss */
p {
  font-size: 0.9em;
  line-height: 1.4em;
}
